h1{
    color:rgb(0, 195, 255)
}
.header{
    background-color: rgba(18, 29, 122, 0.849);
    display:flex;
    justify-content:center
}
h2{
    color:red;
}


body{
    background-color: rgb(248, 248, 248);    
}
.footer{
    background-color: red;
}
a:link{color: rgb(255, 255, 255);}
a:visited{color: rgb(255, 25, 0);}
a{font-size: 40px}
.menu a{margin-right: 1000px}

